body, html {
    height: 100%;
    background-color: #333;
    color:white;
}

h1{
    
    font-family: 'eliantoregular';
    font-weight: 0;
    transform: uppercase;
}

h2{
    font-family: 'eliantoregular';
}

h3, h4, a {
    font-family: "Montserrat", Helvetica, sans-serif;
    text-decoration: none !important;
}


p, li {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 1.25em;
}

.btn{
    background: transparent;
    border-color: rgb(19, 137, 150);
}   

.btn a{
    font-weight: bold; 
    letter-spacing: 0.25em;
    color:white;
}

.btn:hover {
    background-color: rgb(19, 137, 150);
}

.row{
    overflow: hidden; 
}
[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}


/*turquoise: rgb(19, 137, 150)*/



/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("./images/FOTONICA_Background.png");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow:hidden;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* About */
#about {
    color: white;
    padding: 2.5%;
    background: url("./images/side.gif") fixed center center;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color:  rgb(19, 137, 150);
}
#about-side{
    opacity: 0;
}
#about-pic {
    display: block;
    margin: 0 auto;
    height: 100%; width: 100%;
    border-radius: 40px;
 }

/*Experiment*/

#desc{
    background-color: black;
}

.pic{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    background-color: rgb(19, 137, 150);
}

#pic1{
    background: url("./images/htn.png");
}
#pic2{
    background: url("./images/sh.png");
}
#pic3{
    background: url("./images/sh.png");
}
#pic4{
    background: url("./images/cutc.png");
}

/*Community*/
#community{
    height: 100%;
}

#communityheader, .carousel{
    background: url("./images/FOTONICA2.png") fixed center center;
    background-size: cover; 
    text-align: center;
}

.carousel-inner{
    height: 475px !important;
    width: 100% !important;
}

.carousel-caption {
    text-shadow: 2px 2px 2px black !important;   
}




/*Contact*/
#contact {
    background: linear-gradient(to bottom, rgb(15, 111, 122) 0%, rgb(19, 137, 150) 30%);
    text-align: center;
    padding-bottom: 2%;
}

#contact a{
    color: white;
}

.logo{
    padding:2%;
    max-width: 15%;
    max-height: 15%;
}

.long{
    max-width: 30%;
}